<div>
    @{
        string action = string.Empty;

        if (ViewBag.Action != null)
        {
            action = ViewBag.Action;
        }
    }
    @using (Ajax.BeginForm(action, new AjaxOptions() { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "productList" }))
    {
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4">
                    Start Date:
                    <input id="initialDate" name="initialDate" type="date" />
                </div>
                <div class="col-md-4">
                    End Date
                    <input id="endDate" name="endDate" type="date" />
                </div>
                <div class="col-md-4">
                    <input type="submit" value="Filter" />
                </div>
            </div>
        </div>
        <div id="productList">
            @Html.Action(action)
        </div>
    }
</div>
